Package: samm-check-samana
Version: %VERSION%
Maintainer: Samana <info@samanagroup.com>
Depends: samm, python3-urllib3, python3-smbc, ceph-base, freetds-common, python3-winrm, python3-etcd, etcd-client, jq, php-sybase
Architecture: amd64
Homepage: https://www.samanagroup.com
Description: Samana Advanced Monitoring and Management"
